@CHARSET "ISO-8859-1";

#currency{position:relative; top:4px; left:-5px;}

.leftmenu ul li .submenu ul li .sublink a.intermenuactive{
	color:white;
}

.settings .viga {
padding: 0 0 0 0;
}

.settings .viga p {
color:#F34939;
font-family:Arial,Helvetica,sans-serif;
font-size:15px;
font-weight:bold;
letter-spacing:0;
padding:5px 0 15px;
text-decoration:none;
}


.orders .orderbox .ordercontent .name {
	float:left;
	width: 100px;
}

.orders .orderbox .ordercontent .orderstatus {
	float:left;
	width: 90px;
}

.orders .orderbox .ordercontent .date {
	float:left;
	width: 100px;
}

.orders .orderbox .ordercontent .invoice {
	float:left;
	width: 80px;
}

.orders .orderbox .ordercontent .details {
	float:left;
	width: 100px;
}

.orders .orderbox .ordercontent .rename {
	float:left;
	width: 100px;
}

.orders .topmenu p.ordername{
	width: 100px;
}

.orders .topmenu p.orderdate{
	width: 100px;
}

.orders .topmenu p.invoice{
	width: 80px;
}
.orders .topmenu p.orderdetail{
	width: 100px;
}

.orders .topmenu p.orderstatus{
	width: 90px;
}

.errinput{
	border:1px solid #F34939 ! important;
}

.settings .smallboxesright .remove_address{float:left; padding:15px 0px 10px;}
.settings .smallboxesright .remove_address {float:left;}
.settings .smallboxesright .remove_address .removebutton {cursor:pointer; background:url(img/removebig.png) no-repeat scroll 0px 0px; width:22px; height:22px; float:left;}
.settings .smallboxesright .remove_address .removebutton:hover {cursor:pointer; background:url(img/removebigy.png) no-repeat scroll 0px 0px; width:22px; height:22px; float:left;}
.settings .smallboxesright .remove_address p{font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; text-decoration:none; color:#333333; letter-spacing:0px; display:block; float:left; padding:4px 0px 0px 5px;}

.subarrow{margin-left: -18px; margin-top: -1px;}
.sublink{padding-bottom: 10px;}
.leftmenu{text-transform:uppercase;}
.basketsisu .forms{display:block;}

.basketsisu .checktootebox .register {
float:left;
padding:25px 0 10px 20px;
width:260px;
}

.basketsisu .checktootebox .registered {
float:left;
padding:25px 0 0 10px;
}

.registeredforms {
	background-color:#FFFFFF;
	display:none;
	padding-left:290px;
	padding-right: 0px;
}

.basketsisu .smallboxesbottom .dropdown {
border:1px solid #CCCCCC;
margin-bottom:10px;
margin-left:0px;
width:244px;
}

.basketsisu .smallboxesright p.check span{cursor:pointer;}

.dropdown{border:1px solid #cccccc; margin-left:1px; width:156px; margin-bottom:10px;}
.dropdown p{font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; text-decoration:none; color:#333333; letter-spacing:0px; display:block; float:left; width:120px; padding:3px 0px 4px 11px !important; cursor:pointer; }
.dropdown p:hover{font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; text-decoration:underline; color:#333333; letter-spacing:0px; display:block;  cursor:pointer;}
.dropdown img{float:left; padding-top:2px;}
.dropdown .hiddendrop{position:relative; top:0px; left:-1px; z-index:10000; display:none;}
.dropdown .hiddendropbox{position:absolute; top:0px; background-color:#ffffff; border:1px solid #cccccc; width:156px;}
.dropdown .hiddendropbox a{font-family: Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; text-decoration:none; color:#333333; letter-spacing:0px; display:block; float:left; width:150px; padding:3px 0px 4px 11px;}
.dropdown .hiddendropbox a:hover{font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; text-decoration:none; color:#333333; letter-spacing:0px; display:block; float:left; width:150px; padding:3px 0px 4px 11px;}
.dropdown .hiddendropbox a.active{font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; text-decoration:none; color:#333333; letter-spacing:0px; display:block; float:left; width:150px; padding:3px 0px 4px 11px;}

.viga{padding:0px 0px 0px 25px;}
.viga p{font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:12px; text-decoration:none; color:#f34939; letter-spacing:0px; padding:9px 0px 27px 0px;}

